# Postgres connection string for production. Leave unset to use local SQLite (fine for dev/demo).
DATABASE_URL=postgresql://user:password@host:5432/nayisaans

# Change this to a long random string before deploying anywhere real.
JWT_SECRET=30c71cabe63e2d787117d8524672959a922990db60a92e831694d73797e115f3
TWILIO_ACCOUNT_SID=SK07484fbbabb0667dd9f84ed393dd4991
TWILIO_AUTH_TOKEN=Ke6JRkiYHSZ0D8Ep11PISfz6vrQZWtEq
TWILIO_PHONE_NUMBER= +17372212163